<footer class="footer-container">
  <nav class="links-menu1">
    <ul>
      <a class="text-link" href="http://adalab.es/" target="_blank">
        <li>articles</li>
      </a>
      <a class="text-link" href="http://adalab.es/" target="_blank">
        <li>books</li>
      </a>
      <a class="text-link" href="http://adalab.es/" target="_blank">
        <li>events</li>
      </a>
      <a class="text-link" href="http://adalab.es/" target="_blank">
        <li>reasons</li>
      </a>
      <a class="text-link" href="http://adalab.es/" target="_blank">
        <li>tips</li>
      </a>
    </ul>
  </nav>

  <nav class="links-menu2">
    <ul>
      <a class="text-link" href="http://adalab.es/" target="_blank">
        <li>twitter</li>
      </a>
      <a class="text-link" href="http://adalab.es/" target="_blank">
        <li>instagram</li>
      </a>
      <a class="text-link" href="http://adalab.es/" target="_blank">
        <li>mastodon.social</li>
      </a>
    </ul>
  </nav>

  <div class="copy-date">
    <small>&copy;2021</small>
    <small class="final-text"> we &#10084; components</small>
  </div>
</footer>
