<footer>
  <nav>
    <ul>
      <a href="http://adalab.es/" target="_blank">
        <li>articles</li>
      </a>
      <a href="http://adalab.es/" target="_blank">
        <li>books</li>
      </a>
      <a href="http://adalab.es/" target="_blank">
        <li>events</li>
      </a>
      <a href="http://adalab.es/" target="_blank">
        <li>Reasonstips</li>
      </a>
    </ul>
  </nav>
  <nav>
    <ul>
      <a href="http://adalab.es/" target="_blank">
        <li>twitter</li>
      </a>
      <a href="http://adalab.es/" target="_blank">
        <li>instagram</li>
      </a>
      <a href="http://adalab.es/" target="_blank">
        <li>mastodon.social</li>
      </a>
    </ul>
  </nav>
  <small>&copy;2021 we love components</small>
</footer>
