<header class="header-container">
  <nav class="menu">
    <a href="http://adalab.es/" target="_blank"
      ><img
        class="menu-image"
        src="./assets/images/ico-menu.svg"
        alt="menu"
        title="menu"
    /></a>
  </nav>

  <div class="title-container">
    <h1 class="title1">Anonymous </br>Proxy</h1>
    <p class="text-1">Inc hac habitasse platea dictumst.</p>
  </div>

  <div class="scrolldown-box">
    <a class="link-purchase" href="">
      <img
        class="scroll-down"
        src="./assets/images/ico-scroll-down.svg"
        alt="Go to 3 Reasons To Purchase"
        title="Go to 3 Reasons To Purchase"
      />
    </a>
  </div>
</header>
