<main class="main-section">
  <section class="section-1">
    <small class="tips"> Imsomnia Tips </small>
    <article>
      <h2 class="looking">Looking Through A Window</h2>
      <p class="text01">
        Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
        luctus ex diam nec lectus. Vivamus semper sodales rutrum.
      </p>
    </article>
    <button class="go-button">Go</button>
  </section>
  <section class="wrapper-reasons">
    <div class="item item0" id="purchase">
      <h2>3 Reasons To Purchase</h2>
    </div>

    <div class="item item1">
      <article>
        <h3 class="titleArticle">Ut sed metus</h3>
        <p class="textArticle">Lorem ipsum, dolor sit amet consectetur.</p>
      </article>
    </div>

    <div class="item item2">
      <article>
        <h3 class="titleArticle">Curabitur ac erat</h3>
        <p class="textArticle">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>
      </article>
    </div>

    <div class="item item3">
      <article>
        <h3 class="titleArticle">Morbi dictum</h3>
        <p class="textArticle">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
      </article>
    </div>
    <div class="item item4">
      <button class="reasons-button">More reasons</button>
    </div>
  </section>
</main>
