//FONTS COLORS//
$titlesText: "Roboto Slab", serif;
$normalTexts: "Roboto", sans-serif;
$sometextsColor: white;
$reasonsColor: #eff9ff;
$tipsColor: #8ccbea;

//BACKGROUND FOOTER//
$footerColor: #304268;

//BUTTONS & MENU//
$buttonsOrange: #f26002;
$burgerMenu: #0271bc;
