.footer-container {
  background-color: $footerColor;
  color: $sometextsColor;
  font-family: $normalTexts;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media all and (min-width: 768px) {
    flex-direction: row-reverse;
    align-items: left;
    text-align: left;
    justify-content: space-between;
    padding: 39px;
  }

  @media all and (min-width: 1200px) {
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;
    justify-content: space-around;
    padding: 39px;
  }
}
.scrollup-arrow {
  width: 45px;
  height: 45px;
  border-radius: 22px;
  background-color: $sometextsColor;
  position: relative;
  transform: translate(0px, -25px);

  @media all and (min-width: 768px) {
    position: relative;
    transform: translate(-340px, -135px);
  }

  @media all and (min-width: 1200px) {
    position: relative;
    transform: translate(-450px, -135px);
  }
}
.arrow {
  display: flex;
  justify-content: center;
  position: relative;
  transform: translate(0, -6px);
}

.text-link {
  color: $sometextsColor;
  text-transform: uppercase;
  line-height: 30px;
}

.links-menu1 {
  width: 73px;
  padding-top: 40px;
}

.links-menu2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.copy-date {
  display: flex;
  flex-direction: column;
}
.date {
  padding-bottom: 10px;
}

.final-text {
  padding-bottom: 45px;
  font-size: 14px;
}
.heart {
  color: red;
}
