.footer-container {
  background-color: $footerColor;
  color: $sometextsColor;
  font-family: $normalTexts;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  @media all and (min-width: 768px) {
    flex-direction: row;
    align-items: left;
    text-align: left;
    justify-content: space-between;
    padding: 39px;
  }

  @media all and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-around;
    padding: 39px;
  }
}
.scrollup-arrow {
  width: 45px;
  height: 45px;
  border-radius: 22px;
  background-color: $sometextsColor;
  position: absolute;
  top: 0;
  left: 42%;
  transform: translate(-0%, -50%);

  @media all and (min-width: 768px) {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media all and (min-width: 1200px) {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.arrow {
  display: flex;
  justify-content: center;
  position: absolute;
  transform: translate(0, -6px);
}

.text-link {
  color: $sometextsColor;
  text-transform: uppercase;
  line-height: 30px;
}

.links-menu1 {
  width: 73px;
  padding-top: 40px;
  @media all and (min-width: 768px) {
    order: 2;
  }
}

.links-menu2 {
  padding-top: 30px;
  padding-bottom: 30px;
  @media all and (min-width: 768px) {
    order: 3;
  }
}

.copy-date {
  display: flex;
  flex-direction: column;
  @media all and (min-width: 768px) {
    order: 1;
  }
}
.date {
  padding-bottom: 10px;
}

.final-text {
  padding-bottom: 45px;
  font-size: 14px;
}
.heart {
  color: red;
}
