// INSOMNIA TIPS SECTION//
.section-1 {
  padding: 30px 15px 45px 15px;
  line-height: 30px;
}

.tips {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #8ccbea;
  padding-bottom: 1px;
}

.looking {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  padding-bottom: 15px;
}

.text01 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #4a4a4a;
  padding-bottom: 30px;
}

.go-button {
  display: inline;
  background-color: white;
  border-radius: 22.5px;
  border: 3px solid #f26002;
  color: #f26002;
  text-align: center;
  font-size: 1.5rem;
  line-height: 45px;
  padding: 0;
  width: 75px;
  &:hover {
    transform: scale(1.2);
  }
}

//3 REASONS SECTION//
.wrapper-reasons {
  background-color: #eff9ff;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr;
  grid-gap: 2px;
  text-align: center;
  padding-bottom: 60px;
}

.item0 {
  grid-column: 1/4;
  grid-row: 1/2;
  padding: 30px 15px 50px 15px;
  font-family: "Roboto Slab", serif;
}

.item1 {
  grid-column: 1/4;
  grid-row: 2/3;
  padding-right: 70px;
  padding-left: 70px;
}
.item2 {
  grid-column: 1/4;
  grid-row: 3/4;
  padding-right: 70px;
  padding-left: 70px;
}

.item3 {
  grid-column: 1/4;
  grid-row: 4/5;
  padding-right: 70px;
  padding-left: 70px;
}

.item4 {
  grid-column: 1/4;
  grid-row: 5/6;
}

.item {
  line-height: 30px;
}

.titleArticle {
  font-family: "Roboto Slab", serif;
}
.textArticle {
  font-family: "Roboto", sans-serif;
  padding-bottom: 45px;
}

.reasons-button {
  display: inline;
  background-color: #f26002;
  border-radius: 22.5px;
  border: 3px solid #f26002;
  color: white;
  font-size: 1rem;
  line-height: 45px;
  padding: 0;
  width: 124px;

  &:hover {
    transform: scale(1.2);
  }
}
