// INSOMNIA TIPS SECTION//
.section-1 {
  padding: 30px 15px 45px 15px;
  line-height: 30px;
  @media all and (min-width: 1200px) {
    padding: 60px 275px 60px;
  }
}

.tips {
  font-family: $sometextsColor;
  font-size: 14px;
  color: $tipsColor;
  padding-bottom: 1px;
}

.looking {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  padding-bottom: 15px;
}

.text01 {
  font-family: $normalTexts;
  font-size: 18px;
  color: #4a4a4a;
  padding-bottom: 30px;
}

.go-button {
  display: inline;
  background-color: $sometextsColor;
  border-radius: 22.5px;
  border: 3px solid $buttonsOrange;
  color: $buttonsOrange;
  text-align: center;
  font-size: 1.5rem;
  line-height: 45px;
  padding: 0;
  width: 100px;
  &:hover {
    transform: scale(1.2);
  }
}

//3 REASONS SECTION//
.wrapper-reasons {
  background-color: $reasonsColor;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr;
  grid-gap: 2px;
  text-align: center;
  padding: 40px 40px;
}

.item0 {
  grid-column: 1/4;
  grid-row: 1/2;
  padding-top: 30px;
  padding-bottom: 50px;
  font-family: $titlesText;
}

.item1 {
  grid-column: 1/4;
  grid-row: 2/3;
  margin: auto;

  @media all and (min-width: 768px) {
    grid-column: 1/2;
    grid-row: 3/2;
  }
}
.item2 {
  grid-column: 1/4;
  grid-row: 3/4;
  margin: auto;

  @media all and (min-width: 768px) {
    grid-column: 2/3;
    grid-row: 3/2;
  }
}

.item3 {
  grid-column: 1/4;
  grid-row: 4/5;
  margin: auto;

  @media all and (min-width: 768px) {
    grid-column: 3/4;
    grid-row: 3/2;
  }
}

.item4 {
  grid-column: 1/4;
  grid-row: 5/6;
  margin: auto;
}

.item {
  line-height: 30px;
}

.titleArticle {
  font-family: $titlesText;
}
.textArticle {
  font-family: $normalTexts;
  padding-bottom: 45px;
}

.reasons-button {
  display: inline;
  background-color: $buttonsOrange;
  border-radius: 22.5px;
  border: 3px solid $buttonsOrange;
  color: $sometextsColor;
  font-size: 1rem;
  line-height: 45px;
  width: 200px;
  margin: auto;
  &:hover {
    transform: scale(1.2);
  }
  @media all and (min-width: 768px) {
    width: 200px;
  }
}
